{% extends '../base.html'%}
{% load static %}
{% block content %}
<main role="main" class="mt-5 flex-shrink-1">
    {% if method == "POST" %}
        <fieldset>
    {% else %}
        <fieldset disabled>
        &nbsp id: <b>  {{id}}</b>
        {{form.as_p}}
    {% endif %}
   {% if method == "POST" %}
   <div class="row">
        <div class="col">
            <form action="{%url 'snippet_update' id%}" method="post">
                {% csrf_token %}
                &nbsp id: <b>  {{id}}</b>
                {{form.as_p}}
                <div class="form-group row">
                    <div class="col-8">
                        <input type="submit" class="btn btn-primary btn-block" value="Сохранить">
                    </div>
                </div>
            </form>
        </div>
        </div>
       {% endif %}
</fieldset>
   <table border="1">
   <tr>
       <th>Автор</th>
       <th>Комментарий</th>
   </tr>
   {% for comment in comments %}
   <tr>
       <td>{{comment.author.username}}</td>
       <td>{{comment.text}}</td>
   </tr>
   {% endfor %}
   </table>
   <form action="{% url 'comment_add'%}" method="POST">
        {% csrf_token %}
       <span class="d-none"> {{comment_form.snippet}} </span>
        {{comment_form.text}}
        <button type="submit">Добавить</button>
    </form>
</main>
{% endblock %}